
@import url('https://fonts.googleapis.com/css?family=Rum+Raisin');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Chewy');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/***********Navigation ***********/

header {
	background-color: #00a4ff;
	border-bottom: 2px solid #fbec5d;
	height: auto;
	overflow: hidden;
	padding: 15px 0px 15px 0px;
	margin-bottom: 0px;
}

header h1 {
	color: white;
	padding-left: 3%;
	font-family: 'Rum Raisin', sans-serif;
	font-weight: 400;
	font-size: 30px;
	float: left;
}

a {
    text-decoration: none;
    color: white;
}

a.topNav:hover {
    text-decoration: overline;
    color: 	#fbec5d;
}

header .mobile {
	display: none;
}

header nav {
	color: white;
	padding-top: 15px;
	clear: both;
}

header nav ul li {
	display: block;
	padding-bottom: 15px;
	padding-left: 20px;
}

header nav ul li.allCaps {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	list-style: none;

}

.hamburgerMenu {
	float: right;
	width: 50px;
	padding-right: 25px;
	padding-top: 10px;
	position: static;
}

.hamburgerMenu hr {
	border: 2px solid white;
	margin-bottom: 4px;

}

/***********Global Settings ***********/

#hero,
#heroTwo,
#heroThree,
#heroFour,
#generatorHero,
#generatorBox,
#heroSix {
    background-color: #fc89ac;
}

.pic {
	overflow: hidden;
	margin: auto;
	width: 35%;
    height: auto;
	display: block;
	padding-bottom: 20px;
	
}

.picTwo {
	overflow: hidden;
	margin: auto auto 0;
	width: 100%;
    height: auto;
	display: block;
	/*padding-bottom: 20px;*/
	
}
.overlay {
	position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .50;
    z-index: -10;
    display: none;
}

aside.box,
aside.boxTwo,
aside.boxThree,
aside.boxFour,
aside.boxFive {
	/*min-height: 200px;*/
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 30px;
	/*z-index: 1;*/
	/*position: relative;*/
}

aside.box h2,
aside.boxTwo h2,
aside.boxThree h2,
aside.boxFour h2 {
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

aside.box p,
aside.boxTwo p,
aside.boxThree p,
aside.boxFour p {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5;
	width: 100%;
	text-align: center;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin-top: 15px;
}

#hero aside.box p,
#heroTwo aside.boxTwo p,
#heroThree aside.boxThree p,
#heroFour aside.boxFour p{
	max-width: 600px;
	margin: auto;
}

button {
	font-family: 'Oswald', sans-serif;
	background:transparent;
    height:auto;
    width: auto;
    margin: 20px auto;
    cursor:pointer;
	font-weight: 700;
	font-size: 18px;
	padding: 10px 25px;
	border: 3px solid ;
	border-color: #fc89ac;
	outline: 0;
	text-transform: uppercase;
	border-radius: 20px;
	display: block;
}


/***********HeroTwo ***********/

#heroTwo {
	background-image:none;
	background-color: #40e0e0;
	background-size: cover;

}

aside.boxTwo h2 {
	color: white;
}

aside.boxTwo p {
	color: white;
}

/***********HeroThree ***********/
#heroThree {
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    /* bottom, image */
    url("../images/Cereal_2.jpg");
    background-size: 100% auto;
	background-position: center center;
}

aside.boxThree h2 {
	color: white;
}

aside.boxThree p {
	color: white;
}

/***********HeroFour ***********/

#heroFour {
	background-image: none;
	background-color: white;
	background-size: cover;
}

aside.boxFour h2 {
	color: black;
}

aside.boxFour p {
	color: black;
}

/***********#generator page + HeroFive***********/

#generatorHero {
	/*background-image: url("../images/cheerios.png");*/
	background-color: #fc89ac;
}

.cerealGenerator.boxFive {
  /*background-image: url("../images/cereal_box.png");*/
  max-width: 522px;
  width: 100%;
  margin: auto;
  background-size: 100% auto;
  height: 100%;
  max-height: none;
  position: relative;

}

.cerealGenerator.boxFive h2 {
  font-size: 9vw;
}

.cerealGenerator.boxFive button {
  position: absolute;
  top: 29%;
  right: 22%;
}

.cerealGenerator.boxFive img {
  width: 100%;
}
    
#generatorBox {
	/*background-image: url("../images/cereal_box.png");*/
	background-color: #b2e1cf;
}

aside.boxFive {
	font-family: 'Chewy', cursive;
	color: white;

}

::selection {
    color: none;
    background: none;
}

.rotate{
  -webkit-transform: rotate(343deg);
  -moz-transform: rotate(343deg);
  -ms-transform: rotate(343deg);
  -o-transform: rotate(343deg);
  transform: rotate(343deg);
  /* margin-top: -50px; */
  /* margin-left: 25px; */
  position: absolute;
  top: 14%;
  left: 12%;
  height: 150px;
}

aside.boxFive button {
	background: #fbec5d;
	transition: all .5s;
}

/***********Crunchy Combos***********/
.slideHeader {
	max-height: none;
}

#heroSix {
	background-image: none;
	background-color: white;
	background-size: cover;
	height: auto;
}

.mySlides {
	width: 100%;
}

.w3-content {
	max-width: 600px;
	display: block;
	margin: auto;
}

#container{
	 text-align: center;

}


.button1{
	background: #fbec5d;
	margin-bottom: 20px;
	transition: all .5s;

}
.button2,
.button3 {
	background: #fbec5d;
	display: inline-block;
	margin:auto;
	margin-bottom: 20px;
	transition: all .5s;

}

.button1:hover,
.button2:hover,
.button3:hover {
	background: white;
}

/*----------  Histroy Of Cereal  ----------*/
#home {
  overflow: hidden;
  margin-bottom: 5px;
  margin-top: 5px;
  height: auto;
}


.center {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  width: 100%;
  /*max-height: 50%;*/
  padding: 25px 0px;
  color: white;
  margin: auto;
  background-color: #40e0e0;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 2px solid #fbec5d;
  border-top: 2px solid #fbec5d;
}

#home .center p {
	max-width: 80%;
	margin: auto;

}
.slider {
  height: auto;
  margin-bottom: 0px;
}

.slider img {
  width: 100%;
  max-height: 100%;
}

.slick-prev, .slick-next {
  width: 45px;
  height: 45px;
  z-index:1;
  margin: auto;
}

.slider .slick-prev {
  left: 10px;
}

.slider .slick-next {
  right: 10px;
}

.slick-prev:before, .slick-next:before {
  font-size: 45px;
}

/***********MailChimp Form***********/
section{
	text-align: center;
	margin: auto;
}
input {
  height: 50px;
  font-size: 18px;
  outline: 0;
  border-color: black;
  border-width: 1px;
}

#mc_embed_signup {
    background: #fbec5d;
    padding: 25px;
    margin: auto;
}

#mc_embed_signup .mc-field-group {
  padding: 0;
}

#mc_embed_signup .mc-field-group input.email,
#mc_embed_signup .mc-field-group input#mc-embedded-subscribe {
  display: inline-block;
}

#mc_embed_signup .mc-field-group input.email {
  width: 50%;
  margin: auto;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding-left: 10px;
}

#mc_embed_signup .mc-field-group input#mc-embedded-subscribe {
  width: 25%;
  max-width: 100px;
  background-color: white;
  height: auto;
  margin-left: 22px;
  font-family: 'Oswald', sans-serif;
  cursor:pointer;
  font-weight: 700;
  font-size: 12px;
  border: 3px solid ;
  border-color: #fc89ac;
  outline: 0;
  text-transform: uppercase;
  border-radius: 20px;
  text-align: center;
  padding: 10px 10px;
}

#mc_embed_signup #mce-responses div {
    color: black;
    font-size: 21px;
    text-align: center;
}

.indicates-required,
#mc_embed_signup .mc-field-group label {
  display:none;
}

/***********Footer***********/

footer {
	background-color: #00a4ff;
	border-bottom: 2px solid #fbec5d;
	height: auto;
	overflow: hidden;
	padding: 15px 0px 15px 0px;
	margin-bottom: 0px;
}

footer nav {
	color: white;
	margin: auto;
}

footer nav ul li {
	padding-bottom: 15px;
}

footer nav ul li.allCaps {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	list-style: none;
	text-align: center;
}

/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

/***********Navigation ***********/
header {
	padding: 15px 0px 15px 0px;

}

header h1 {
	padding-left:75px;
	font-size: 42px;
	margin: auto;
}

header .mobile {
	display: inline-block;
}

.hamburgerMenu {
		display: none;
	}

header nav {
	color: white;
	float: right;
	margin-right: 1%;
	margin-top: 0px;
	display: inline;
	clear: none;
}

header nav ul li {
	float: left;
	padding-right: 25px;
}

header nav ul li.allCaps {
	font-size: 20px;
}

/***********Global Settings ***********/

#hero,
#heroTwo,
#heroThree,
#heroFour,
#generatorHero,
#generatorBox
{
	/*min-height: 400px;*/
}

#heroThree
{
	min-height: 400px;
}

aside.box,
aside.boxTwo,
aside.boxThree,
aside.boxFour,
aside.boxFive {
	padding-top: 50px;

}

aside.box h2,
aside.boxTwo h2,
aside.boxThree h2,
aside.boxFour h2 {
	font-weight: 700;
	font-size: 60px;
	line-height: 1em;
}

aside.box p,
aside.boxTwo p,
aside.boxThree p,
aside.boxFour p {
	font-size: 19px;
}

/***********HeroTwo ***********/
/***********HeroThree ***********/
/***********HeroFour ***********/
/***********#generator page + HeroFive***********/

aside.boxFive {
	font-family: 'Chewy', cursive;
	font-size: 40px;
	width: 100%;

}

#generatorBox
{
	height: 700px;
}
.cerealGenerator.boxFive h2 {
  font-size: 54px;
  height: 150px;
}
.cerealGenerator.boxFive button {
  right: 20%;
}

.rotate {
  top: 15%;
  left: 11%;
}

/***********Crunchy Combos***********/

#heroSix
{
	height: auto;
}

.w3-content {
	max-width: 800px;

}
/***********MailChimp Form***********/
#mc_embed_signup .mc-field-group input.email {  
  font-size: 16px;
  padding-left: 25px;
}

#mc_embed_signup .mc-field-group input#mc-embedded-subscribe {
  font-size: 16px;
}

/***********Footer***********/
footer nav ul{
	margin: auto;
}

footer nav ul {
	text-align: center;
}

footer nav ul li {
	display: inline-block;
	padding: 15px;
}
}

/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/

@media (min-width: 768px) and (max-width: 920px) {
	
header nav ul li.allCaps {
	font-size: 1.7vw;
}

}